<h1>All Articles</h1>

<ul class="horizontal_navbar">Sort Articles By:
  <li><%= link_to "Date \u25BC", articles_path(:sort => "date_desc")%>
  <li><%= link_to "Date \u25B2", articles_path(:sort => "date_asc")%>
  <li><%= link_to "Views \u25BC", articles_path(:sort => "views_desc")%>
  <li><%= link_to "Views \u25B2", articles_path(:sort => "views_asc")%>
</ul>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %><br>
      Posted: <%= article.created_at.strftime("%b %e, %Y  at %l:%M %p")%>
      Views (<%= article.number_of_views %>)
    </li>
  <% end %>
</ul>



<% if logged_in? %>
  <ul id="content">
    <li>
      <%= link_to "Create a New Article", new_article_path %>
    </li>
    <li>
      <%= link_to "Reset Number of Views for ALL Articles:",
      reset_number_of_views_all_articles_path,
      data: {confirm: "Confirm: Reset Number of Views to '0' for ALL Articles?"}%>
    </li>
  </ul>
<% end %>
