<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
      Posted: <%= article.created_at.strftime("%b %e, %Y  at %l:%M %p")%> |
      Views (<%= article.number_of_views %>)
      <% if logged_in? %> |
        <%= link_to "Reset Views", reset_number_of_views_article_path(article),
            data: {confirm: "Confirm: Reset views to '0' for this article?"}%>
       <% end %>
    </li>
  <% end %>
</ul>

<% if logged_in? %>
  <ul id="content">
    <li>
      <%= link_to "Create a New Article", new_article_path %>
    </li>
    <li>
      <%= link_to "Reset the number of views for ALL articles:",
          reset_number_of_views_all_articles_path,
          data: {confirm: "Confirm: Reset views to '0' for ALL articles?"}%>
    </li>
  </ul>
<% end %>
