<p id="notice"><%= notice %></p>

<h1>Authors</h1>

<table>
  <thead>
    <tr>
      <th class="first_row">Username</th>
      <th class="first_row">Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.username %></td>
        <td><%= author.email %></td>
        <td><%= author.password %></td>
        <td><%= link_to "Show", author %></td>
        <td><%= link_to "Edit", edit_author_path(author) %></td>
        <td><%= link_to "Delete", author, method: :delete, data: { confirm: "Confirm: Delete this author?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if logged_in? %>
  <li id="content">
    <%= link_to "Create New Author", new_author_path %>
  </li>
  <li>
    <%= link_to "Delete ALL Authors", [:delete_all, :authors], method: :delete, data: {confirm: "Confirm: Delete ALL authors?" } %>
    (You will be logged off, and your account deleted!)
  </li>
<% end %>
