<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<% if logged_in? %>
  <p id="content">
    <%= link_to "Edit Author", edit_author_path(@author) %>
  </p>
<% end %>

<ul id="content">
  <% if logged_in? %>
    <li>
      <%= link_to "Authors List", authors_path %>
      (User Accounts)
    </li>
  <% end %>
  <li>
    <%= link_to "Articles List", articles_path %>
  </li>
  <li>
    <%= link_to "Tags List", tags_path %>
  </li>
</ul>
