<p id="notice"><%= notice %></p>

<h1>Author Details</h1>

<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<% if logged_in? %>
  <ul id="content">
    <li>
      <%= link_to "Edit Author", edit_author_path(@author) %>
    </li>
    <li>
      <%= link_to "Create Another New Author", new_author_path %>
    </li>
  </ul>
<% end %>
