<p id="notice"><%= notice %></p>

<h1>Author Details</h1>

<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<% if logged_in? %>
  <p id="content">
    <%= link_to "Edit Author", edit_author_path(@author) %>
  </p>
  <%= link_to "Create Another New Author", new_author_path %>
  <p>

  </p>
<% end %>
