<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="flash">
      <%= flash.notice%>
    </p>

    <div id="wrapper">
      <nav class="sidenav">
        <ul>
          <li>
            <%= link_to "Articles List", articles_path, class: "navlink"%>
          </li>
          <li>
            <%= link_to "Tags List", tags_path, class: "navlink" %>
          </li>
          <ul>
            <% if logged_in? %>
              <li>
                <%= link_to "Authors List", authors_path, class: "navlink" %>
              </li>
            <% end %>
          </ul>
        </ul>
      </nav>
      <div id="container">
        <div id="content">
          <%= yield %>
          <hr>
          <h6>
            <% if logged_in? %>
              <%= "Logged in as #{current_user.email}" %>
              <%= link_to "(logout)", logout_path %>
            <% else %>
                <%= link_to "(login)", login_path %>
            <% end %>
          </h6>
        </div>
      </div>
    </div>
  </body>
</html>
